<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search User</title>
</head>
<body>
<h3>Find By Last Name</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Last Name</label> <input type="text"
                                                     class="form-control" id="lastname" required [(ngModel)]="lastName"
                                                     name="lastname">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<ul>
  <li *ngFor="let usr of users">
    <h4>{{usr.id}} - {{usr.firstName}} {{usr.lastName}}</h4>
  </li>
</ul>
</body>
</html>
